{% extends 'base.html' %}
{% block title %}Add shop items{% endblock %}
{% block content %}
    


    <div class="container">
        <h1>Add Color and Size for {{ product.name }}</h1>
        <form method="POST">
            <label for="color">Select Color:</label>
            <select name="color" id="color">
                {% for color in colors %}
                <option value="{{ color.id }}">{{ color.color }}</option>
                {% endfor %}
            </select>
            
            <label for="size">Select Size:</label>
            <select name="size" id="size">
                {% for size in sizes %}
                <option value="{{ size.id }}">{{ size.size }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Add Color and Size</button>
        </form>
    </div>


<div>
    <a href="{{ url_for('display_shop_items') }}">Peržiūrėti visas prekes</a>
    <a href="{{ url_for('admin') }}">Administratoriaus puslapis</a>
</div>

<div>
    <a href="{{ url_for('home') }}">Pradžios puslapis</a>


{% endblock %}