{% extends 'base.html' %}
{% block title %}Index Page{% endblock %}
{% block content %}
    <h2>Sveiki, Administratoriau!</h2>

    <div>
        <h4>Administratoriaus funkcijos</h4>
        <ul>
            <li><a href="{{ url_for('display_shop_items') }}">Peržiūrėti parduotuvės prekes</a></li>
            <li><a href="{{ url_for('add_shop_items') }}">Pridėti prekę</a></li>
            <li><a href="{{ url_for('orders') }}">Peržiūrėti užsakymus</a></li>
        </ul>    
    </div>

    <div>
        <a href="{{ url_for('home') }}">Pradžios puslapis</a>
    </div>


{% endblock %}