<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container1">

            <img src="{{url_for('static', filename='images/heart.jpg')}}">

            <p>home decor</p>
            <div>
                <div class="search-container">
                    <form action="search", method="POST">
                        <input type="text" placeholder="Ieškoti..." name="query">
                        <button type="submit"></button>
                    </form>
                </div>
                <div>
                    {% if current_user.is_authenticated %}
                    <div id="person">
                        <form action="/account"> 
                            <button type="submit" class="person"></button>
                        </form>    
                    </div>
                    {% else %}  
                    <div id="person">
                        <form action="/login">
                            <button type="submit" class="person"></button>
                        </form>    
                    </div>
                    {% endif %}
                </div>
                <div>
                    <div id="cart">
                        <form action="/cart">
                            <button type="submit" class="cart"></button>
                        </form>    
                    </div>
                    <div id="cart-count">
                        {% if item_count > 0 %}
                            <p>{{ item_count }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">PRADŽIA</a></li>
                    <li class="dropdown">
                        <button class="drop-button">GAMINIAI</button>
                        <div class="dropdown-content">
                          <a href="{{ url_for('printai') }}">PRINT'AI</a>
                          <a href="{{ url_for('zvakes') }}">ŽVAKĖS</a>
                          <a href="{{ url_for('other') }}">KITA</a>
                        </div>
                    </li>
                    <li><a href="{{ url_for('apie_mus') }}">APIE MUS</a></li>
                    <li><a href="{{ url_for('home') }}#con">KONTAKTAI</a></li>

                </ul>
            </nav>   
        </div>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 home decor</p>
    </footer>
</body>
</html>