{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block content %}

{% if items_in_cart %}

<h2 class="products-title">Prekės</h2>

<div clas="cart">

    <form method="POST">

        <div class="cart-item-container">
            {% for item in items_in_cart %}
                <div class="cart-item">

                    <div class="cart-image">
                        <a href="{{ url_for('produktas', product_id=item.product_id) }}">
                            {% for photo in items_in_cart_photos %}
                                {% if photo.product_id == item.product_id %}                        
                                    <img src="{{ url_for('static', filename='images/'+ photo.name) }}">
                                {% endif %}
                            {% endfor %}                                 
                        </a>
                    </div>

                    <div class="item-name-price">
                        <a href="{{ url_for('produktas', product_id=item.product_id) }}">
                            <h4>{{ item.product_name }}</h4>  
                        </a>
                        <p>Dydis: {{ item.size }}</p>
                        <p>Spalva: {{ item.color }}</p>
                        <p>Kiekis: {{ item.quantity }}</p>
                        <p>Vieneto kaina: {{ item.price }} EUR</p>
                        {% if item.sale == True %}
                            <p>Kaina su nuolaida: {{ item.sale_price }} EUR</p>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{ url_for('delete_cart_item', id=item.id) }}">Pašalinti</a>
                    </div>
                </div>
            {% endfor %}
        </div>
            <p class="cart-price">Benrda suma: {{ total_price }} EUR</p>

    </form>

    <div class="cart-delete">
        <a href="{{ url_for('delete_cart_items') }}">Išvalyti krepšelį</a>
    </div>
    <div class="cart-button-space">
        <form action="{{ url_for('order') }}"> 
            <button type="submit" class="cart-button">Atlikti užsakymą</button>
        </form>    
    </div>

</div>


{% else %}

    </div>
        <p>Krepšelyje prekių nėra.</p>
    <div> 

{% endif %}



{% endblock %}