{% extends 'base.html' %}
{% block title %}Shop items{% endblock %}
{% block content %}


{% if products  %}    

    <table>
        <thead>
            <tr>
                <th scope="col">Produkto ID</th>
                <th scope="col">Produkto pavadinimas</th>
                <th scope="col">Produkto aprašymas</th>
                <th scope="col">Vieneto kaina</th>
                <th scope="col">Kiekis</th>
                <th scope="col">Kategorija</th>
                <!-- data added -->
                 <!-- picture -->
            </tr>
        </thead>

        <tbody>
            {% product in products  %} 
                <tr>
                    <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.category }}</td>
                        <!-- <td><img src="{{ product.photo }}" alt=""></td> -->

                        <td>
                            <a href="/update_shop_items/{{ product.id }}">Update</a>
                            <br>
                            <a href="/delete-shop-item/{{ product.id }}">Delete</a>
                        </td>
                </tr>
            {% endfor  %} 
        </tbody>
    </table>

{% else  %} 

    <h2>Produktų nėra</h2>

{% if products  %} 










{% endblock %}