{% extends 'base.html' %}
{% block title %}Shop items{% endblock %}
{% block content %}


{% if products  %}    

    <table>
        <thead>
            <tr>
                <th scope="col">Produkto ID</th>
                <th scope="col">Produkto pavadinimas</th>
                <th scope="col">Produkto aprašymas</th>
                <th scope="col">Vieneto kaina</th>
                <th scope="col">Išpardavimo kaina</th>
                <th scope="col">Išpardavimas</th>
                <th scope="col">Kiekis</th>
                <th scope="col">Kategorija</th>
                <th scope="col">Data</th>
                 <!-- picture -->
            </tr>
        </thead>

        <tbody>
            {% for product in products  %} 
                <tr>
                    <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.sale_price }}</td>
                        <td>{{ product.sale }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.date_added }}</td>
                        <!-- <td><img src="{{ product.photo }}" alt=""></td> -->

                        <td>
                            <a href="/update_shop_item/{{ product.id }}">Atnaujinti</a>
                            <br>
                            <a href="{{ url_for('delete_shop_item', product_id=product.id) }}">Ištrinti</a>
                        </td>
                </tr>
            {% endfor  %} 
        </tbody>
    </table>

    <div>
        <a href="{{ url_for('add_shop_items') }}">Pridėti prekę</a>
        <a href="{{ url_for('admin') }}">Administratoriaus puslapis</a>
    </div>

{% else  %} 

    <h2>Produktų nėra</h2>

{% endif  %} 

<div>
    <a href="{{ url_for('home') }}">Pradžios puslapis</a>
</div>


{% endblock %}