{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    <div>
        <h1>Prisijungti</h1>
        <!-- <form method="POST" action="/login">
            {{ form.csrf_token }}
            <div>{{ form.email.label }} {{ form.email }}</div>
            <div>{{ form.password.label }} {{ form.password }}</div>
            <div>{{ form.submit }}</div>
        </form> -->

        <!-- {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form> -->

        <h4>Neturite paskyros - <a href="{{ url_for('register') }}">Registruotis</a></h4>
    </div>

    <div class="reg-log">
        <form method='POST'>
            {{ form.hidden_tag() }}
            <div class="reg-log">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="reg-log">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="reg-log">
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class='form-check-label') }}
            </div>
            <div class="reg-log">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock %}