{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    <div>
        <h1>Prisijungti</h1>
        <h4>Neturite paskyros - <a href="{{ url_for('register') }}">Registruotis</a></h4>
    </div>

    <div>
        <form class="reg-log-form" method='POST'>
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div>
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div>
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class='form-check-label') }}
            </div>
            <div class="">
                <small class="">
                    <a href="{{ url_for('password_request') }}">Pamiršote slaptažodį?</a>
                </small>
            </div>
            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>


{% endblock %}