{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}

<div>
    <form class="account-form" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Slaptažodžio pakeitimas</legend>
            <div>
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>

        
{% endblock %}
