{% extends 'base.html' %}
{% block title %}Update shop items{% endblock %}
{% block content %}
    

{% if product_to_update  %} 

<table>
    <thead>
        <tr>
            <th scope="col">Produkto pavadinimas</th>
            <th scope="col">Produkto aprašymas</th>
            <th scope="col">Vieneto kaina</th>
            <th scope="col">Išpardavimo kaina</th>
            <th scope="col">Išpardavimas</th>
            <th scope="col">Kiekis</th>
            <th scope="col">Kategorija</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <form action="" method="POST" enctype="multipart/form-data">

                {{ form.hidden_tag() }}
                <td>{{ form.name }}</td>
                <td>{{ form.description }}</td>
                <td>{{ form.price }}</td>
                <td>{{ form.sale_price }}</td>
                <td>{{ form.sale }}</td>
                <td>{{ form.quantity }}</td>
                <td>{{ form.category }}</td>
                <td>{{ form.update_product() }}</td>

            </form>
        </tr>
    </tbody>
</table>


{% else  %} 

    <h2>Tokio produkto nėra.</h2>

    <div>
        <a href="{{ url_for('display_shop_items') }}">Peržiūrėti visas prekes</a>
        <a href="{{ url_for('admin') }}">Administratoriaus puslapis</a>
    </div>
    
    <div>
        <a href="{{ url_for('home') }}">Pradžios puslapis</a>
    </div>

{% endif  %}

<div>
    <a href="{{ url_for('display_shop_items') }}">Peržiūrėti visas prekes</a>
    <a href="{{ url_for('admin_page') }}">Administratoriaus puslapis</a>
</div>

<div>
    <a href="{{ url_for('home') }}">Pradžios puslapis</a>
</div>




{% endblock %}