{% extends 'base.html' %}
{% block title %}Zvakes Page{% endblock %}
{% block content %}

    <div>
        <div class="slider-frame">
            <!-- <div class="slider-images"> -->
            <div class="image-container">
                <img src="{{url_for('static', filename='images/Zvake 1.jpg')}}">
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div>
        <h2>ŽVAKĖS: rankomis supilstytos bičių vaško</h2>
    </div>
    <div class="products">
        <div class="product-row">
            <div class="product">
                <div class="product-image">
                    <img src="{{url_for('static', filename='images/Zvake 2.jpg')}}">
                </div>
                <div class="product-name-price">
                    <h4>ZVAKĖ</h4>
                    <p>5 EUR</p>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="{{url_for('static', filename='images/Zvake 2.jpg')}}">
                </div>
                <div class="product-name-price">
                    <h4>ZVAKĖ</h4>
                    <p>5 EUR</p>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="{{url_for('static', filename='images/Zvake 2.jpg')}}">
                </div>
                <div class="product-name-price">
                    <h4>ZVAKĖ</h4>
                    <p>5 EUR</p>
                </div>
            </div>
        </div>
        <div class="product-row">
            <div class="product">
                <div class="product-image">
                    <img src="{{url_for('static', filename='images/Zvake 2.jpg')}}">
                </div>
                <div class="product-name-price">
                    <h4>ZVAKĖ</h4>
                    <p>5 EUR</p>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="{{url_for('static', filename='images/Zvake 2.jpg')}}">
                </div>
                <div class="product-name-price">
                    <h4>ZVAKĖ</h4>
                    <p>5 EUR</p>
                </div>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="{{url_for('static', filename='images/Zvake 2.jpg')}}">
                </div>
                <div class="product-name-price">
                    <h4>ZVAKĖ</h4>
                    <p>5 EUR</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}