{% extends 'base.html' %}
{% block title %}Index Page{% endblock %}
{% block content %}

<div class="things-section">
    <div class="text-box">
        <p>PRINT'AI</p>
        <h2>{{ produktas.name }}</h2>
        <p>{{ produktas.description }}</p>
        <div>
            <label for="cars">Pasirinkite dydį</label>
            <select name="subject" id="subject">
                <option value="" selected="selected">Pasirinkite...</option>
                {% for size in sizes %}
                    <option value="" selected="selected">{{ size.size }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="cars">Pasirinkite koloritą</label>
            <select name="subject" id="subject">
                <option value="" selected="selected">Pasirinkite...</option>
                {% for color in colors %}
                    <option value="" selected="selected">{{ color.color }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <p>Kaina: {{ produktas.price }} EUR</p>
        </div>
        <div>
            <div>
                <form action="/login"> <!-- reikia normalaus action -->
                    <button type="submit">Į krepšelį</button>
                </form>    
            </div>
        </div>
    </div>
    <div class="picture-box-things">
        {% for photo in photos %}
            <img src="{{url_for('static', filename='images/'+ photo.name)}}">
        {% endfor %}
    </div>
</div>
<div>
    <h2>ISTORIJA?</h2>
</div>
<div>
    <div class="slider-frame">
        <!-- <div class="slider-images"> -->
        <div class="image-container">
            <img src="{{url_for('static', filename='images/Print 1.jpg')}}">
        </div>
        <!-- </div> -->
    </div>
</div>
<div>
    <h2>PANAŠIOS PREKĖS</h2>
    <div class="printai">
        {% for print in all_prints %}
                    <div class="print">
                        <div class="product-image">
                            <a href="{{ url_for('produktas', product_id=print.id) }}">
                                {% for photo in all_photos %}
                                    {% if photo.product_id == print.id %}                        
                                        <img src="{{ url_for('static', filename='images/'+ photo.name) }}">
                                    {% endif %}
                                {% endfor %}                                 
                            </a>
                        </div>
                        <div class="product-name-price">
                            <a href="{{ url_for('produktas', product_id=print.id) }}">
                                <h4>{{ print.name }}</h4>  
                            </a>
                            <p>{{ print.price }} EUR</p>
                        </div>
                    </div>
        {% endfor %}
    </div>
</div>





{% endblock %}